/* style.css */

.main1{
    width:100%;
    max-width: 100%;
    min-width: 50%;
    margin: 0 auto;
    background-color: lightgrey;
    height:1200px;
    display: flex;
    flex-direction: column;
}